.about-wrap {
  background-image: url("https://play-test.oss-cn-hangzhou.aliyuncs.com/front-about/aboutBg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right top;
}
