.recharge-section-container::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 30%;
  top: 50%;
  left: 60%;
  background-color: #003dcc;
  opacity: 0.7;
  filter: blur(170px);
  z-index: 0;
}
