.faq-section {
    width: 100%;
}

.faq-title {
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
}

.faq-item {
    padding-bottom: 2rem;
    border-bottom: 1px solid #242327;
}
.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    font-size: 1.125rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.faq-answer {
    font-size: 0.875rem;
    color: #858997;
}