.coupons-success-modal {
  position: relative;
  overflow: visible;
}
.coupons-success-modal::after {
  content: "";
  position: absolute;
  top: -70px;
  left: -70px;
  width: 640px;
  height: 390px;
  background-image: url("https://play-test.oss-cn-hangzhou.aliyuncs.com/front-home/couponsBg.png");
  background-size: 640px 390px;
  background-position: left top;
}
