.user-menu-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: var(--backgroundImage);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
